.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $font-heading;
  font-weight: $fw-semibold;

  a,
  a:visited {
    color: $color-link;
    text-decoration: none;
  }

  a:hover {
    color: $color-link;
    text-decoration: underline;
  }
}

h1,
.h1 {
  @extend .h1;
  margin: 0 0 rem($gap-vert) 0;
  @include font-size($fs-h1, $lh-h1);
  color: $color-h1;
}

h2,
.h2 {
  @extend .h2;
  margin: 0 0 rem($gap-vert-sm) 0;
  @include font-size($fs-h2, $lh-h2);
  color: $color-h2;
}

h3,
.h3 {
  @extend .h3;
  margin: 0 0 rem($gap-vert-sm) 0;
  @include font-size($fs-h3, $lh-h3);
  color: $color-h3;
}

h4,
.h4 {
  @extend .h4;
  margin: 0 0 rem($gap-vert-sm) 0;
  @include font-size($fs-h4, $lh-h4);
  color: $color-h4;
}

h5, h6,
.h5,
.h6 {
  @extend .h5;
  margin: 0 0 rem($gap-vert-xs) 0;
  @include font-size($font-size-base, $line-height-base);
  color: $color-base;
}

strong, b {
  font-weight: $fw-bold;
}
