$rem-base: 16;

//------------------------------------------------------------------------------
// Font weights.
//------------------------------------------------------------------------------
$fw-extrabold:                  900;
$fw-bold:                       700;
$fw-semibold:                   500;
$fw-normal:                     300;
$fw-light:                      100;

//------------------------------------------------------------------------------
// Font sizes.
//------------------------------------------------------------------------------
$fs-base: 16 !default;
$fs-sm: 14 !default;
$fs-xs: 11 !default;

$fs-h1: 32;
$fs-h2: 28;
$fs-h3: 24;
$fs-h4: 16;

//------------------------------------------------------------------------------
// Fonts.
//------------------------------------------------------------------------------
$font-base: 'Open Sans', 'Arial', sans-serif !default;

//------------------------------------------------------------------------------
// Line heights.
//------------------------------------------------------------------------------
$lh-h1: 40;
$lh-h2: 35;
$lh-h3: 30;
$lh-h4: 20;
