//------------------------------------------------------------------------------
// Animation
//------------------------------------------------------------------------------
$duration: 0.3s;
$easing: ease-in-out;
$easing-in: ease-in;
$easing-out: ease-out;
