bin
vendor
web/core
web/modules/contrib
web/themes/contrib
web/libraries

web/.csslintrc
web/.eslintignore
web/.eslintrc.json
web/.htaccess
web/autoload.php
web/index.php
web/sites/default/default.services.yml
web/sites/default/default.settings.php
web/update.php
web/.gitignore

web/sites/**/*.services.yml
web/sites/**/settings*.php
web/sites/**/settings.php

web/sites/*/files
web/sites/*/private

web/INSTALL.txt
web/README.md
web/modules/README.txt
web/profiles/README.txt
web/sites/README.txt
web/themes/README.txt

nbproject
.idea
.vscode
*/.sass-cache/*
.DS_Store
*.DS_Store
Thumbs.db

node_modules
.yarn

web/sites/simpletest
*.sql.*
db
.phpunit.result.cache
.sass-cache
