bin
vendor
docroot/core
docroot/modules/contrib
docroot/themes/contrib

docroot/.csslintrc
docroot/.eslintignore
docroot/.eslintrc.json
docroot/.htaccess
docroot/autoload.php
docroot/index.php
docroot/sites/default/default.services.yml
docroot/sites/default/default.settings.php
docroot/update.php
docroot/.gitignore

docroot/sites/**/*.services.yml
docroot/sites/**/settings*.php
docroot/sites/**/settings.php

docroot/sites/*/files
docroot/sites/*/private

docroot/INSTALL.txt
docroot/README.md
docroot/modules/README.txt
docroot/profiles/README.txt
docroot/sites/README.txt
docroot/themes/README.txt

nbproject
.idea
.vscode
*/.sass-cache/*
.DS_Store
*.DS_Store
Thumbs.db

node_modules
.yarn

docroot/sites/simpletest
*.sql.*
db
.phpunit.result.cache
.sass-cache
