/* stylelint-disable */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Barlow Semi Condensed", "Arial";
  font-weight: 700; }
  .h1 a,
  .h1 a:visited,
  .h2 a,
  .h2 a:visited,
  .h3 a,
  .h3 a:visited,
  .h4 a,
  .h4 a:visited,
  .h5 a,
  .h5 a:visited,
  .h6 a,
  .h6 a:visited {
    color: #31D57C;
    text-decoration: none; }
  .h1 a:hover,
  .h2 a:hover,
  .h3 a:hover,
  .h4 a:hover,
  .h5 a:hover,
  .h6 a:hover {
    color: #31D57C;
    text-decoration: underline; }

h1,
.h1 {
  margin: 0 0 1.5rem 0;
  font-size: 5rem;
  line-height: 6rem;
  color: #3232FF; }

h2,
.h2 {
  margin: 0 0 0.9375rem 0;
  font-size: 3rem;
  line-height: 4rem;
  color: #3232FF; }

h3,
.h3 {
  margin: 0 0 0.9375rem 0;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #3232FF; }

h4,
.h4 {
  margin: 0 0 0.9375rem 0;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #3232FF; }

h5, h6,
.h5,
.h6 {
  margin: 0 0 0.3125rem 0;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #303030; }

.footer--primary {
  padding: 1.25rem 0;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
  color: #FFFFFF;
  background: #060032; }
  .footer--primary:after {
    clear: both;
    content: '';
    display: table; }
  .footer--primary .container {
    margin-top: -0.9375rem; }
  .footer--primary p {
    margin: 0; }

.block--region-footer-primary {
  margin-top: 0.9375rem; }
  .block--region-footer-primary .menu {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0; }
    .block--region-footer-primary .menu li {
      list-style: none;
      display: block;
      margin: 0;
      padding: 0; }
  .block--region-footer-primary a {
    text-decoration: underline; }
    .block--region-footer-primary a, .block--region-footer-primary a:visited {
      color: #FFFFFF; }
    .block--region-footer-primary a:hover, .block--region-footer-primary a:active {
      color: #FFFFFF;
      text-decoration: none; }

@media (min-width: 768px) {
  .footer--primary {
    text-align: left; }
    .footer--primary .container {
      display: flex; }
  .block--powered-by-dropsolid {
    flex-grow: 1;
    text-align: right; } }
