@import "../../../includes";

////////////////////////////////////////////////////////////////////////////////
// *
// * Forms
// *
////////////////////////////////////////////////////////////////////////////////


// * Styling
// =============================================================================

// Types of input:
// email, number, password, search, tel, text, url, color, date, datetime,
// datatime-local, month, time, week

.form-item {
  margin-bottom: rem($gap-vert);
  width: 100%;

  // @include clearfix;

  .field-suffix,
  .admin-link {
    display: block;
  }

  .admin-link {
    margin-top: rem(10);
  }

  &.has--prefix,
  &.has--suffix {
    display: flex;
    align-items: center;
  }

  .field-prefix {
    margin-right: rem(10);
  }

  .field-suffix {
    margin-left: rem(10);
  }
}


////////////////////////////////////////////////////////////////////////////////
// *
// * Forms: checkboxes
// *
////////////////////////////////////////////////////////////////////////////////


// * Grouping of items
// =============================================================================

// same styling as a form-item

.form__group--checkboxes,
.form__group--radios {
  margin-bottom: rem($gap-vert);
  width: 100%;

  @include clearfix;
}


// * Single item (input + label)
// =============================================================================

input[type='radio'],
input[type='checkbox'] {
  appearance:none;
  display: inline-block;
  position: relative;
  // top: rem(5);
  top: 0;
  margin: 0 rem(10) 0 0;
  padding: 0;
  vertical-align: top; // to make sure checked marks are aligned properly with text
  background: $color-white;
  border: 1px solid $color-form-border;
  border-radius: 0;
  outline: none;
  transition: border-color $duration $easing, background-color $duration $easing;

  &:hover,
  &:focus {
    cursor: pointer;
    outline: 0;
    border-color: $color-form-active-border;
  }

  &:disabled {
    opacity: .5;
    background: $color-form-disabled-bg;
    &:hover {
      cursor: default;
      border-color: $color-form;
    }
  }

  &:checked {
    border-color: $color-form-active-border;
  }

  & + label {
    display:inline; // inline in order for the text to wrap and the checkmark to properly align
    position: relative;
    font-weight: $fw-normal;

    .form-item__not-required {
      display: none; // not needed here
    }
  }
}

// -- custom checkboxes
//    set our icon via the label next to it

input[type='checkbox'] {
  background-color: $color-white;
  @include square(rem(16));
  transition: background-color $easing .1s, border-color $easing .1s;

  // Custom checkbox

  & + label {
    @include font-awesome((icon: $fa-var-check, color: $color-form-active, size: 15, element: 'before'));

    &:before {
      position: absolute;
      left: rem(-26);
      top: rem(4);
      opacity: 0;
    }
  }

  &:checked + label {
    &:before {
      opacity: 1;
      transition: opacity $easing .1s;
    }
  }

  &:disabled:checked + label {
    &:before {
      color: rgba($color-form-active, .5);
    }
  }
}

//--- Radio buttons
input[type='radio'] {
  @include square(rem(16));
  border-radius: 50%;
  transition: background-color $easing .1s, border-color $easing .1s, box-shadow $easing .1s;

  // background-color: $color-white;
  box-shadow: none;
  background: $color-white;

  &:checked {
    // background-color: $color-form-active;
    box-shadow: inset 0px 0px 0px 3px $color-white;
    background: $color-form-active;
  }

  &:disabled:checked {
    // background-color: $color-form-disabled;
    box-shadow: inset 0px 0px 0px 3px $color-white;
    background: $color-form-disabled;
  }
}



// * Always flow text next to the input
// =============================================================================

// double classes to override the cascade
.form-item.form-type--checkbox,
.form-item.form-type--radio {
  position: relative;
  padding-left: rem(30);
  margin-bottom: rem(5);

  input[type='checkbox'],
  input[type='radio'] {
    position: absolute;
    left: 0;
    top: rem(10);
  }
}

// * Errors
// =============================================================================

// these styles are set in _form-label.scss, _input.scss
// and the various other form elements css files


// * Hints & description
// =============================================================================

form small,
form .description,
.form-item__description,
.password-suggestions,
.webform-component--mandatory-fields p,
.form-item ~ p {
  display: block;
  color: rgba($color-gray, .6);
  margin-top: rem($gap-vert-sm);
  @include font-size(11, 15);

  ul {
    @include list((
      type: 'unsorted',
      bullet-space: 12
    ));
    overflow: hidden; // fix overlap bullets with floating elements
    padding-left: 0;

    > li {
      margin-top: rem(6);

      &:before {
        top: rem(8);
        font-size: 4px;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// *
// * Form: Input
// *
// *
////////////////////////////////////////////////////////////////////////////////


// Every input type that is not a radio or checkbox or some special looking field:
// email, number, password, search, tel, text, url, color, date, datetime,
// datatime-local, month, time, week
#{$text-inputs-list},
textarea {
  padding: rem(9) rem(10);
  width: 100%;
  outline: none;
  color: $color-form;
  border: 1px solid $color-form-border;
  background: $color-white;
  border-radius: 0;
  transition: all $duration $easing;
  appearance: none; // remove Safari mobile styling (box-shadow & corners)

  &::placeholder {
    color: $color-placeholder;
    opacity: 1;
  }

  &:focus,
  &:focus:hover {
    // color: $color-form-active;
    // background-color: $color-form-active-bg;
    border-color: $color-form-active-border;
    outline: 0;
  }

  &[disabled],
  &:disabled {
    opacity: .5;
    color: $color-form-disabled;
    border-color: $color-form-disabled-border;
    background: $color-form-disabled-bg;
  }

  &.error {
    color: $color-error;
    border-color: $color-form-error-border;
    // background: $color-form-error-bg;
  }
}


// * Errors & warnings and stuff
// =============================================================================

// Add error color on ALL inputs
input.error {
  color: $color-error;
}


// * Admin
// =============================================================================

input.admin-menu-search {
  height: auto;
}

