{#
/**
 * Available variables:
 *   - attributes: An optional array of attributes.
 *   - error: An optional error message.
 *
 * Dependencies:
 *   - label
 */
#}
{% apply spaceless %}
{% if type %}{% set attributes = attributes.setAttribute('type', type) %}{% endif %}
{% if id %}{% set attributes = attributes.setAttribute('id', id) %}{% endif %}
{% if name %}{% set attributes = attributes.setAttribute('name', name) %}{% endif %}
{% if title %}{% set attributes = attributes.setAttribute('title', title) %}{% endif %}
{% if value %}{% set attributes = attributes.setAttribute('value', value) %}{% endif %}
{% if required %}{% set attributes = attributes.setAttribute('required', required) %}{% endif %}
{%
  set classes = [
  'form-item__' ~ attributes.type
]
%}
{% set value = attributes.value %}
{% if attributes.type == 'submit' %}
  {% set button_bem_block = button_bem_block|default('button') %}
  {% set button_bem_element = button_bem_block|default(false) %}
  {% if button_bem_modifiers is not defined %}
    {% set button_bem_modifiers = [] %}
  {% endif %}
  <button {{ bem(button_bem_block, button_bem_element, button_bem_modifiers) }}>
    {{ value }}
  </button>
{% else %}
  <input{{ attributes.addClass(classes) }} />{{ children }}
{% endif %}
{% endapply %}
