{#
/**
 * Available variables:
 *   - attributes: An optional array of attributes.
 *   - error: An optional error message.
 *
 * Dependencies:
 *   - label
 */
#}
{% apply spaceless %}
  {% if input_attributes %}
    {% for key,attr in input_attributes %}
      {% set attributes = attributes.setAttribute(key,attr) %}
    {% endfor %}
  {% endif %}
{%
  set classes = [
  'form-item__' ~ attributes.type
]
%}
{% set value = attributes.value %}
{% if attributes.type == 'submit' %}
  {% set button_bem_block = button_bem_block|default('button') %}
  {% set button_bem_element = button_bem_block|default(false) %}
  {% if button_bem_modifiers is not defined %}
    {% set button_bem_modifiers = [] %}
  {% endif %}
  <button {{ bem(button_bem_block, button_bem_element, button_bem_modifiers) }}>
    {{ value }}
  </button>
{% else %}
  <input{{ attributes.addClass(classes) }} />{{ children }}
{% endif %}
{% endapply %}
