{% stories list with {
  title: 'Splash Awards/Atoms/List'
} %}
  {% story unordered_list with {
    name: '1. Unordered list',
    args: {
      title: 'Unordered list',
      list_type: 'ul',
      items: [
        {value: 'Item 1'},
        {value: 'Item 2'},
        {value: 'Item 3'},
      ]
    }
  } %}
  {{ include ('splash:list', {
    wrapper_attributes: create_attribute(),
    attributes: create_attribute(),
    list_type, items, title
  }) }}
  {% endstory %}

  {% story ordered_list with {
    name: '2. Ordered list',
    args: {
      title: 'Ordered list',
      list_type: 'ol',
      items: [
        {value: 'Item 1'},
        {value: 'Item 2'},
        {value: 'Item 3'},
      ]
    }
  } %}
    {{ include ('splash:list', {
      wrapper_attributes: create_attribute(),
      attributes: create_attribute(),
      list_type, items, title
    }) }}
  {% endstory %}

  {% story unordered_list_block with {
    name: '3. Unordered list with list_content block',
    args: {
      title: 'Unordered list',
      list_type: 'ul',
      list_items: '<li>List item 1</li>
          <li>List item 2</li>
          <li>List item 3</li>',
    }
  } %}
    {% embed 'splash:list' with {
      wrapper_attributes: create_attribute(),
      attributes: create_attribute(),
      list_type,
      items,
      title
    } %}
      {% block list_content %}
      {{ list_items|raw }}
      {% endblock %}
    {% endembed %}
  {% endstory %}


  {% story unordered_list_children with {
    name: '4. Unordered list with second level',
    args: {
      title: 'Unordered list',
      list_type: 'ul',
      list_items: '<li>List item 1</li>
          <li>
            <ul>
              <li>Sub item 1</li>
              <li>Sub item 2</li>
            </ul>
          </li>
          <li>List item 3</li>',
    }
  } %}
    {% embed 'splash:list' with {
      wrapper_attributes: create_attribute(),
      attributes: create_attribute(),
      list_type,
      items,
      title
    } %}
      {% block list_content %}
        {{ list_items|raw }}
      {% endblock %}
    {% endembed %}
  {% endstory %}



{% endstories %}

