{%- import "@base/attributes.twig" as attr -%}
{%- set attributes = attributes|default({'class':[]})|merge({
  'class': attributes.class|default([])|merge(['js-form-type-checkbox', 'form-item'])
}) -%}
{%- set label_attributes = label_attributes|default({}) -%}
{%- set input_attributes = input_attributes|default({})|merge({
  'type': 'checkbox',
  'id': id,
  'name': name,
  'value': value,
  'required': required,
  'class': input_attributes.class|default({'class':[]})|merge(['form-checkbox'])
}) -%}
{% set for = id %}
<div{{ attr.attributes(attributes) }}>
  {{- include('splash:form-input', {input_attributes}) -}}
  {{- include('splash:form-label', {label, for, required}) -}}
  {% if description %}
    {{- include('splash:form-description', {description}) -}}
  {% endif %}
</div>
