{%- import "@base/attributes.twig" as attr -%}
{#
/**
 * Available variables:
 *   - attributes: An optional array of attributes.
 *   - error: An optional error message.
 *
 * Dependencies:
 *   - label
 */
#}
{# Set defaults for optional variables. #}
{% set input_attributes = input_attributes|default({'class': []})|merge({
  'class': input_attributes.class|default([])|merge([''])
}) %}
{# Add an error class when we have an error message. #}
{%- if error -%}
{% set input_attributes = input_attributes|default({'class': []})|merge({
    'class': input_attributes.class|default([])|merge(['error'])
}) %}
{%- endif -%}
<input{{ attr.attributes(input_attributes) }}>
{%- if error -%}
  <div class="form-item--error-message">
    {{- error -}}
  </div>
{%- endif -%}
