<header role="banner" class="header header--primary">
  <div class="container">

    {# logo with sitename & slogan goes here #}
    {% block header_section_primary %}
      {% if page.primary_header %}
      <div class="header__section--primary">
        {{ page.primary_header }}
      </div>
      {% endif %}
    {% endblock %}

    {% block header_section_secondary %}
      {% if page.primary_navigation or page.secondary_navigation or page.top_navigation %}
    <div class="header__section--secondary">
      {# Menus that you also want to be in mobile navigation
        get passed to the _site-nav component #}
      {{ include('splash:site-nav', {
        'nav_primary': page.primary_navigation,
        'nav_secondary': page.secondary_navigation,
        'header_top_nav': page.top_navigation,
      }) }}
    </div>
      {% endif %}
    {% endblock %}

  </div>
</header>
